/build/
/out/
/bin/
/obj/
/*.exe
/*.dll
/*.pdb

.idea/
/*.iml
/.idea_modules/
/.idea/*

CMakeLists.txt.user
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log
*.user
*.swp
*.suo
*.VC.db
*.VC.VC.opendb
.DS_Store
Thumbs.db
MyPathFinder/x64/Debug
